.chat-main
  .header
    .header__box グループ名
    .header__edit Edit
    .header__member Member : Karen , AAA , BBB
  .contents
    .message
      .message__name User_name
      .message__datetime 2018/9/25
      .message__body Hello!world!
    .message
      .message__name User_name
      .message__datetime 2018/9/25
      .message__body Hello!world!
  .text__footer
    %form.type__messages
    %input.type__messages__box{placeholder: "type a message"}
    %label.upload-label{for: "aaa"}
      %input.type__messages__folder{name: "file", type: "file", value: ""}/
      %i.fa.fa-image{class:"type__messages__folder",id:"aaa"}
    %input.text__submit-btn{data:{disable:{with:"Send"}}, name: "commit", type: "submit", value: "Send"}/



