.chat-main
  .chat-main__header
    .chat-main__header__detail
      .chat-main__header__detail__box グループ名
      .chat-main__header__detail__member Member : Karen , AAA , BBB
    .chat__header__edit Edit
  .contents
    .message
      .message__name User_name
      .message__datetime 2018/9/25
      .message__body Hello!world!
    .message
      .message__name User_name
      .message__datetime 2018/9/25
      .message__body Hello!world!
  .text__footer
    %form.message__form
    %input.message__form__box{placeholder: "message__form"}
    %label.upload-label{for: "button"}
      %input.message__form__folder{name: "file", type: "file", style: "display:none",　id: "button"}/
      %i.fa.fa-image{class: "message__form__folder"}
    %input.text__submit-btn{name: "commit", type: "submit", value: "Send"}/

