
.side
  .side__title
    .p
      = current_user.name
    .mark
      %label.upload-label{for: "upload-icon"}
        = link_to "#",class: "edit" do
          %i.fa.fa-edit
      %label.upload-label{for: "upload-icon"}
        = link_to "#",class: "edit" do
          %i.fa.fa-cog
  .group
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容


