.notice グループを作成しました
.side
  .side__title
    .title__box
      .p Chatspace
      .mark
        %label.upload-label{for: "upload-icon"}
        %i.fa.fa-edit
        %label.upload-label{for: "upload-icon"}
        %i.fa.fa-cog
  .group
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容
    .group__chat
      .group__chat__name グループの名前
      .group__chat__conversation 会話内容


