.chat-main {
  float: right;
  width: calc(100vw - 300px);
  height: 100vh;

  .header {
    border-bottom: solid 1px #eee;
    padding-left: 40px;
    background-color: $mainWhiteColor;

    &__box {
      display: inline-block;
      margin-top: 37px;
      color: #333333;
      font-size: 20px;
    }

    &__edit{
      background-color: $mainWhiteColor;
      height: 40px;
      padding: 0 20px;
      border: solid 1px $mainBlueColor;
      position: absolute;
      right: 80px;
      top: 52px;
      line-height: 40px;
      color:$mainBlueColor
    }

    &__member {
      display: block;
      color: #999999;
      font-size: 11px;
      padding: 10px 0 5px 0;
    }
  }

  .contents {
    background-color: $mainGrayColor;
    height: calc(100vh - 174px);
    padding: 46px 40px;
    overflow: scroll;

    .message {
      margin-bottom: 40px;

      &__name {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 10px;
        color: #434A54;
      }

      &__datetime {
        font-size: 12px;
        color: $SubGrayColor;
        display: inline-block;
      }

      &__mail {
        font-size: 14px;
        color: #434A54;
      }
    }
  }

  .nav-text {
    height: 50px;
    background-color: #ddd;
    padding: 20px 40px;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 380px);

    .text{
      position: relative;


      &__box {
        height: 50px;
        background-color: $mainWhiteColor;
        width: calc(100vw - 550px);
        padding: 0 40px 0 10px;
        color: #434a54;
      }

      &__folder {
          position: absolute;
          right: 130px;
          bottom: 20px;

      }
    }

      .text__submit-btn {
        margin-left: 15px;
        height: 50px;
        width: 100px;
        background-color: $mainBlueColor;
        position: absolute;
        right: 0;
        color:$mainWhiteColor;
      }
    }
}


