.chat-main {
  float: left;
  width: calc(100vw - 300px);
  height:100%;

  .header {
    width: calc(100vw - 300px);
    height: 100px;
    position: fixed;
    border-bottom: solid 1px #eee;
    margin-top: 20px;
    padding-left: 40px;
    background-color: #FFFFFF;

    .header_box {
      display: inline-block;
      margin-top: 35px;
      color: #333333;
      font-size: 20px;
    }
    .edit{
      background-color: #FFFFFF;
      height:40px;
      padding: 0 20px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 80px;
      top:28px;
      line-height: 40px;
      color:#38aef0;
    }
    .team_member {
      display: block;
      color: #999999;
      font-size: 11px;
      padding-top: 15px;
    }

  }

  .message {
    display: block;
    background-color: #eeeeee;
    height: 650px;
    margin-top: 120px;
    padding: 46px 40px;

    .message_box {
      min-width: auto;
      margin-bottom: 40px;

      .user_name {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px;
        display: inline-block;
        margin-bottom: 10px;
        color: #434A54;
      }
      .date_time {
        font-size: 12px;
        color: #999999;
        display: inline-block;
      }
      .mail {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .form_text {
    height: 50px;
    background-color: #ddd;
    padding: 20px 40px;
    position: fixed;
    bottom:0;



    .input_text {
      height: 50px;
      background-color: #FFFFFF;
      width:945px;
      display:inline-block;
      margin-right:15px;
      .mark2{
        color:black;
        float:right;
        font-size: 25px;
        padding:7px;
      }

    }

    .submit-btn {
          height:50px;
         float:right;
         width: 100px;
          background-color: #38aef0;
      display:inline-block;

        }

      }

    }

