.notification {

  .notice {
    background-color: $mainPointColor;
    text-align: center;
    color: $mainFontColor;
    width: 100vw;
  }

  .alert{
    background-color: orange;
    text-align: center;
    color: $mainFontColor;
    width: 100vw;

  }

}


