.side {
  float: left;
  height: 100vh;
  width: 300px;
  color: $mainFontColor;

  .side__title {
      background-color: #253141;
      height: 20px;
      align-items: center;
      display: flex;
      padding: 40px 20px;
      justify-content: space-between;

      .sign_in__user {
        font-size: 16px;
        font-weight: bold;
      }

      .side__menu {
      }
    }

  .group {
    background-color: #2E3e51;
    height: 100vh;
    padding: 20px;
    overflow: scroll;
    font-weight: bold;
    color: $mainFontColor;

    .group__chat{
      margin-bottom: 40px;

      &__name {
        margin-bottom: 5px;
        font-size: 15px;
      }

      &__conversation{
        font-size: 11px;
      }
    }
  }
}

